<div>

    <p>Month is <%= @currentTime.month %></p>
    <p>Day is <%= @currentTime.day %></p>
    <p>Year is <%= @currentTime.year %></p>
    <p>Day of Week is <%= @currentTime.wday %></p>
    <p>Day of Year is <%= @currentTime.yday %></p>
    <p>Hours is <%= @currentTime.hour %></p>
    <p>Minutes is <%= @currentTime.min %></p>
    <p>Seconds is <%= @currentTime.sec %></p>
    <p>Timezone is <%= @currentTime.zone %></p>

</div>